@charset "UTF-8";

img {
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}
body {
  font-family: 'kiwi maru';
}
main {
  margin-top: 80px;
}

/* header  */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header-list {
  display: flex;
}

.header-list li {
  margin-left: 20px;
}

/* hamburger  */
.hamburger {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  height: 80px;
  width: 100px;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: #7B4B2A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s;
}

.hamburger span:nth-child(1) {
  top: 36%;
}

.hamburger span:nth-child(2) {
  top: 50%;
}

.hamburger span:nth-child(3) {
  top: 64%;
}

.open .hamburger span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: white;
}

.open .hamburger span:nth-child(2),
.open .hamburger span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: white;
}

/* nav  */
nav {
  background-color: #A3816A;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s;
  z-index: 5;
  visibility: hidden;
}

.open nav {
  opacity: 1;
  visibility: visible;
}

.nav-logo {
  position: absolute;
  top: 4px;
  left: 15px;
}

.nav-list {
  text-align: center;
  margin-top: 100px;
}

.nav-list a {
  color: white;
  margin-bottom: 12px;
}


/* mainvisual  */
.main-page .mainvisual {
  position: relative;
  height: calc(100vh - 80px);
}

.mainvisual h1 {
  position: absolute;
  color: white;
  top: 50%;
  left: 8%;
  transform: translate(0, -50%);
}

.slideshow {
  position: absolute;
  inset: 0;
}

.slideshow li {
  position: absolute;
  inset: 0;
  height: 100%;
  opacity: 0;
  animation: fade 12s infinite;
}

.slideshow li::after {
  position: absolute;
  inset: 0;
  content: '';
  box-shadow: inset 0 0 15px 15px white;
}

.slideshow img {
  height: 100%;
  width: 100%;
}

.slideshow li:nth-child(1) {
  animation-delay: 0s;
}

.slideshow li:nth-child(2) {
  animation-delay: 5s;
}

.slideshow li:nth-child(3) {
  animation-delay: 10s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* 共通 */
.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 24px;
}

.section-title {
  border-bottom: 2px solid;
  display: inline-block;
  margin-bottom: 50px;
}

/* about */
.about {
  text-align: center;
  padding-top: 120px;
}

.about .container {
  display: flex;
  align-items: center;
}

.about-img {
  width: 50%;
  display: inline-block;
  position: relative;
}

.about-img img {
  width: 100%;
}

.about-img::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px white;
}

.about-text {
  width: 50%;
  padding: 0 30px;
}


.about-text p {
  text-align: left;
  margin-bottom: 30px;
}

.about-text a {
  text-align: center;
  background-color: #7B4B2A;
  color: white;
  font-weight: bold;
  width: 330px;
  padding: 16px 0;
  border: 2px solid;
  border-radius: 10px;
  transition: all 0.4s;
}

.about-text a:hover {
  background-color: white;
  color: #7B4B2A;
}

/* menu */
.menu {
  text-align: center;
  padding-top: 120px;
}

.slide-items {
  width: 100%;
  height: 100%;
}

.slide-items li img {
  width: 100%;
}

.slide-items li a {
  transition: all 0.2s;
  width: 100%;
}

.slide-items li a:hover {
  opacity: 0.6;
}

.slide-items .slick-slide {
  margin: 0 15px;
}

.menu-text {
  background-color: #3B5D4F;
  color: white;
  height: 50px;
}

.menu-text .name {
  font-weight: bold;
  padding-top: 2px;
}

.menu-text .detail {
  font-size: 12px;
  margin-top: 2px;
}

.all-menu {
  margin-top: 70px;
  background-color: #7B4B2A;
  color: white;
  font-weight: bold;
  width: 330px;
  padding: 16px 0;
  border: 2px solid;
  border-radius: 10px;
  transition: all 0.4s;
}

.all-menu:hover {
  background-color: white;
  color: #7B4B2A;
}

/* access */
.access {
  text-align: center;
  padding-top: 120px;
}

.access .container {
  display: flex;
}

.access-text {
  width: 40%;
  padding: 0 20px;
  text-align: left;
}

.access-text dl {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0 30px 50px;
}

.access-text dt {
  width: 30%;
  padding-bottom: 10px;
}

.access-text dd {
  width: 70%;
  padding-bottom: 10px;
}

.ad-text {
  padding: 15px 0 0px 50px;
  line-height: 35px;
}

.map {
  width: 55%;
  height: 400px;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/* contact */
.contact {
  text-align: center;
  padding: 120px 0;
}

.contact dl {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.contact dl dt {
  width: 25%;
  font-size: 14px;
}

.contact dl dd {
  width: 65%;
  margin-bottom: 10px;
}

.contact dl input {
  border: 0.8px solid;
  width: 100%;
  padding: 8px;
}

.contact dl textarea {
  border: 0.8px solid;
  width: 100%;
  height: 150px;
  padding: 8px;
}

.button input {
  color: white;
  background-color: #7B4B2A;
  font-size: 16px;
  padding: 16px 100px;
  margin-top: 15px;
  border: 1px solid;
  border-radius: 10px;
  width: 330px;
  transition: all 0.4s;
}

.button input:hover {
  background-color: white;
  color: #7B4B2A;
}

/* footer */
footer {
  text-align: center;
  background-color: #3B5D4F;
}

.sns-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 30px 0;
}

.sns-icons a {
  color: white;
  font-size: 20px;
  transition: all 0.3s;
}

.sns-icons a:hover {
  opacity: 0.6;
}

footer p {
  color: white;
  font-size: 12px;
  padding: 15px 0;
}

/* 共通 */
.about-page,
.menu-page {
  background-color: #F9E5D9;
  padding-bottom: 120px;
}

.about-page .mainvisual,
.menu-page .mainvisual {
  position: relative;
  height: calc(100vh - 80px);
}

.about-page .mainvisual img,
.menu-page .mainvisual img {
  height: 100%;
  width: 100%;
}

/* About-page */
.about-page h3 {
  color: white;
  position: absolute;
  top: 58%;
  left: 8%;
  transform: translate(0, -50%);
}

.story,
.concept {
  display: flex;
  align-items: center;
  margin-top: 120px;
}

.story-img,
.concept-img {
  width: 60%;
  display: inline-block;
  position: relative;
}

.story-img::after,
.concept-img::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px #F9E5D9;
}

.story-img img,
.concept-img img {
  width: 100%;
  border-radius: 6px;
}

.story-text {
  background-color: white;
  width: 60%;
  margin-left: -90px;
  height: auto;
  border-radius: 12px;
  opacity: 0.8;
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.08);
  padding: 32px;
}

.story-text h2,
.concept-text h2 {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 8px;
  margin-bottom: 14px;
}

.concept-text {
  background-color: white;
  width: 60%;
  margin-right: -90px;
  height: auto;
  z-index: 1;
  border-radius: 12px;
  opacity: 0.8;
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.08);
  padding: 32px;
}

/* menu-page */
.featured-menu,
.food-menu,
.drink-menu,
.dessert-menu {
  text-align: center;
  padding-top: 120px;
}

.menu-page .mainvisual h1 {
  color: black;
}

.menu-page h3 {
  color: black;
  position: absolute;
  top: 58%;
  left: 8%;
  transform: translate(0, -50%);
}

.featured-card[id] {
  scroll-margin-top: 136px;
}

.featured-card {
  display: flex;
  margin-bottom: 48px;
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.08);
  width: 60%;
  border-radius: 12px;
}

.featured-card .menu-img {
  width: 42%;
}

.menu-img img {
  width: 100%;
  height: 100%;
}

.featured-card .menu-info {
  width: 58%;
  background-color: white;
  padding: 24px 32px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 310px;
}

.right-item {
  margin-left: auto;
}


.menu-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 16px;
}

.left-item .menu-info {
  border-radius: 0 12px 12px 0;
}

.right-item .menu-info {
  border-radius: 12px 0 0 12px;
}

.slide-left,
.slide-right {
  opacity: 1;
  transform: translateX(0);
}

.slide-right {
  animation: slide-right 0.5s ease-out 0s 1 forwards;
}

.menu-price {
  font-weight: bold;
}

.food-cards,
.drink-cards,
.dessert-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.food-card .menu-info,
.drink-card .menu-info,
.dessert-card .menu-info {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
  border-radius: 0 0 8px 8px;
}

.food-card,
.drink-card,
.dessert-card {
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

/* responsive */
@media (max-width: 768px) {

  .header-list {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mainvisual h1 {
    font-size: 24px;
    left: 15%;
  }

  .section-title {
    margin-bottom: 32px;
  }

  .about .container {
    flex-direction: column;
  }

  .about-img {
    width: 100%;
  }

  .about-text {
    width: 100%;
    padding: 32px 0 0;
  }

  .about-text a {
    width: 100%;
    margin-top: 16px;
  }

  .all-menu {
    width: 100%;
  }

  .access .container {
    flex-direction: column;
  }

  .access-text {
    width: 100%;
  }

  .map {
    width: 100%;
    margin-top: 32px;
  }

  .contact dl {
    flex-direction: column;
  }

  .contact dl dt {
    width: 100%;
    margin-bottom: 10px;
  }

  .contact dl dd {
    width: 100%;
  }

  .contact dl input {
    width: 100%;
  }

  .contact dl textarea {
    width: 100%;
  }

  .button input {
    width: 100%;
  }

  .about-page h3 {
    left: 15%;
  }

  .story {
    flex-direction: column-reverse;
  }

  .concept {
    flex-direction: column;
  }

  .story-img,
  .concept-img {
    width: 100%;
    margin-top: 60px;
  }

  .story-text,
  .concept-text {
    width: 100%;
    margin: 0 auto;
  }

  .menu-page .mainvisual h1 {
    font-size: 24px;
    color: white;
    left: 15%;
  }

  .menu-page h3 {
    left: 15%;
    color: white;
  }

  .menu-page .mainvisual img {
    object-position: 73%;
  }

  .left-item {
    flex-direction: column;
    width: 100%;
  }

  .right-item {
    flex-direction: column-reverse;
    width: 100%;
  }

  .featured-card .menu-img {
    width: 100%;
  }

  .featured-card .menu-info {
    width: 100%;
  }

  .left-item .menu-info,
  .right-item .menu-info {
    border-radius: 0 0 12px 12px;
  }

  .featured-cards {
    padding: 0 32px;
  }

  .menu-img img {
    border-radius: 12px 12px 0 0;
    height: 350px;
  }

  .food-cards,
  .drink-cards,
  .dessert-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .food-card .menu-info,
  .drink-card .menu-info,
  .dessert-card .menu-info {
    padding: 16px 32px;
  }

}